Repository alan-turing-institute/sqlsynthgen: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, pydocstyle, mypy

black:
  name: Black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

pylint:
  name: Pylint
  entry: poetry run pylint
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --follow-imports=silent
  language: system

Fix a test
  tests/test_functional.py
Due: black, isort, pylint, mypy

Check for column type subclassing
  sqlsynthgen/make.py
Due: black, isort, pylint, pydocstyle, mypy

Add mariadb support
  poetry.lock
  pyproject.toml
  sqlsynthgen/create.py
  sqlsynthgen/main.py
  sqlsynthgen/make.py
  sqlsynthgen/remove.py
  sqlsynthgen/settings.py
  sqlsynthgen/utils.py
  tests/test_create.py
  tests/test_main.py
  tests/test_settings.py
Due: black, isort, pylint, pydocstyle, mypy

Fix unit test errors
  sqlsynthgen/settings.py
  tests/test_functional.py
  tests/test_remove.py
  tests/utils.py
Due: black, isort, pylint, pydocstyle, mypy

Refactor function which chooses column providers
  sqlsynthgen/make.py
  tests/test_make.py
Due: black, isort, pylint, pydocstyle, mypy

Update installation docs
  docs/source/installation.rst
Due: none

Add PK99 tutorial
  docs/source/tutorials/airbnb.rst
  docs/source/tutorials/loan_applications.rst
  tests/examples/loans/config.yaml
  tests/test_rst.py
Due: black, isort, pylint, mypy

Update docs with new settings
  docs/source/quickstart.rst
  docs/source/tutorials/airbnb.rst
Due: none

Remove outdated references to postgres
  sqlsynthgen/main.py
  sqlsynthgen/make.py
  sqlsynthgen/utils.py
Due: black, isort, pylint, pydocstyle, mypy

Rename test function
  tests/test_make.py
Due: black, isort, pylint, mypy

Added tqdm to csv_to_database.py
  tests/examples/airbnb/csv_to_database.py
Due: pylint

Add DBMS support question to FAQ
  docs/source/faq.rst
Due: none

Added tqdm as an extra dependency in the pyproject.toml file
  pyproject.toml
Due: none

Support Postgres UUID columns
  sqlsynthgen/make.py
  tests/examples/src.dump
  tests/test_make.py
Due: black, isort, pylint, pydocstyle, mypy

Error if psql...src.dump fails
  .github/workflows/tests.yml
Due: none

Updated changes using terminal instead
  poetry.lock
  pyproject.toml
Due: none

Updated version of ssg.py file for airbnb (tutorial)
  tests/examples/airbnb/1_ssg_manual_edit.py
Due: pylint

Add URLs and more detail to pyproject.toml
  pyproject.toml
Due: none

Updated version of the airbnb tutorial
  docs/source/tutorials/airbnb.rst
  poetry.lock
  pyproject.toml
Due: none

Comments for changes in ssg.py file
  tests/examples/airbnb/ssg_manual_edit.py
Due: pylint

fixeed minor issue with code block
  docs/source/tutorials/airbnb.rst
Due: none

Edited the tutorials with Carlos' changes and added the completed files in airbnb
  docs/source/tutorials/airbnb.rst
  tests/examples/airbnb/Final_ssg_example.py
  tests/examples/airbnb/airbnb_generators.py
  tests/examples/airbnb/complete_config.yaml
Due: pylint

Typos
  CONTRIBUTING.md
  README.md
Due: none

Add python, pypi, pre-commit, black and mypy badges
  README.md
Due: none

renamed file to all lowercase
  tests/examples/airbnb/final_ssg_example.py
Due: pylint

Update contributing md file for pyyaml workaround
  CONTRIBUTING.md
Due: none

Update installation docs for pyyaml workaround
  docs/source/installation.rst
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update GitHub workflow installation steps for pyyaml error
  .github/workflows/pre-commit.yml
  .github/workflows/tests.yml
Due: none

Update readthedocs installation steps for pyyaml error
  .readthedocs.yaml
Due: none

Path conditions:
  black: any of: \.py$, but not: (?x)( tests/examples| tests/workspace )
  isort: any of: \.py$, but not: (?x)( tests/examples| tests/workspace )
  pylint: any of: \.py$
  pydocstyle: any of: \.py$, but not: (?x)( docs/| tests/ )
  mypy: any of: \.py$, but not: (?x)( tests/examples| tests/workspace )
