Repository alan-turing-institute/sqlsynthgen: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, pydocstyle, mypy

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: docs/source/_static/
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/markdownlint/markdownlint
    # Note the "v"
    rev: v0.11.0
    hooks:
      - id: markdownlint
        args: [--style=mdl_style.rb]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      # Ensure that the config html pages are current
      - id: config_schema
        name: Config Schema Docs
        entry: >
          generate-schema-doc
          --config-file .jsfh.yaml
          sqlsynthgen/json_schemas/config_schema.json
          docs/source/_static/
        language: system
        pass_filenames: false
      - id: black
        name: Black
        entry: poetry run black
        language: system
        types: ['python']
        exclude: (?x)(
          tests/examples|
          tests/workspace
          )
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: ['python']
        exclude: (?x)(
          tests/examples|
          tests/workspace
          )
      - id: pylint
        name: Pylint
        entry: poetry run pylint
        language: system
        types: ['python']
      - id: pydocstyle
        name: pydocstyle
        entry: poetry run pydocstyle
        language: system
        types: ['python']
        exclude: (?x)(
          docs/|
          tests/
          )
      - id: mypy
        name: mypy
        entry: poetry run mypy --follow-imports=silent
        language: system
        exclude: (?x)(
          tests/examples|
          tests/workspace
          )
        types: ['python']

Stop using the cython workaround
  .github/workflows/pre-commit.yml
  .github/workflows/tests.yml
  .readthedocs.yaml
  docs/source/installation.rst
Due: none

Improve ignoring tables. Also improve some tests.
  sqlsynthgen/main.py
  sqlsynthgen/make.py
  sqlsynthgen/remove.py
  sqlsynthgen/utils.py
  tests/examples/dst.dump
  tests/examples/example_config.yaml
  tests/examples/example_orm.py
  tests/examples/expected_ssg.py
  tests/examples/remove_ssg.py
  tests/examples/src.dump
  tests/test_functional.py
  tests/test_main.py
  tests/test_make.py
  tests/test_remove.py
Due: black, isort, pylint, pydocstyle, mypy

Verbose prints for create-data
  .pylintrc
  sqlsynthgen/base.py
  sqlsynthgen/create.py
  sqlsynthgen/main.py
  sqlsynthgen/make.py
  sqlsynthgen/templates/ssg.py.j2
  sqlsynthgen/unique_generator.py
  sqlsynthgen/utils.py
  tests/examples/expected_ssg.py
  tests/test_create.py
  tests/test_functional.py
  tests/test_main.py
  tests/test_make.py
  tests/test_utils.py
Due: black, isort, pylint, pydocstyle, mypy

Add verbose prints to several commands
  sqlsynthgen/create.py
  sqlsynthgen/make.py
  sqlsynthgen/remove.py
  tests/test_create.py
  tests/test_functional.py
Due: black, isort, pylint, pydocstyle, mypy

Type hints and typos
  sqlsynthgen/make.py
  sqlsynthgen/remove.py
  sqlsynthgen/utils.py
  tests/test_remove.py
Due: black, isort, pylint, pydocstyle, mypy

Improve logging set up code
  sqlsynthgen/utils.py
Due: black, isort, pylint, pydocstyle, mypy

Black and whitespace trimming
  sqlsynthgen/utils.py
Due: black, isort, pylint, pydocstyle, mypy

Change note on logger being global
  .pylintrc
  sqlsynthgen/utils.py
Due: black, isort, pylint, pydocstyle, mypy

Add instructions for SQL Server
  docs/source/faq.rst
Due: none

Remove the changelog docs page, it was badly out of date
  docs/source/changelog.rst
  docs/source/index.rst
Due: none

Update the glossary in the docs
  docs/source/glossary.rst
Due: none

Rework and expand the OMOP tutorial, add CC HIC example config
  docs/source/tutorials/omop-cdm.rst
  examples/cchic_omop/config.yaml
  examples/cchic_omop/row_generators.py
  examples/cchic_omop/story_generators.py
Due: black, isort, pylint, pydocstyle, mypy

Restructure docs
  docs/source/airbnb_db_diagram.png
  docs/source/api.rst
  docs/source/configuration.rst
  docs/source/faq.rst
  docs/source/glossary.rst
  docs/source/health_data.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/introduction.rst
  docs/source/loan_data.rst
  docs/source/quickstart.rst
  docs/source/real_data_histogram.png
  docs/source/synthetic_data_histogram.png
Due: none

Fix docs references
  docs/source/api.rst
  docs/source/configuration.rst
  docs/source/faq.rst
  docs/source/glossary.rst
  docs/source/health_data.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/introduction.rst
  docs/source/loan_data.rst
  docs/source/quickstart.rst
  tests/test_rst.py
Due: black, isort, pylint, mypy

Fix RTD docs build
  .readthedocs.yaml
Due: none

Disable GA caching of pre-commit hooks
  .github/workflows/pre-commit.yml
Due: none

Prettier source stats queries
  docs/source/api.rst
  docs/source/configuration.rst
  docs/source/health_data.rst
  docs/source/index.rst
  docs/source/introduction.rst
  docs/source/loan_data.rst
  examples/cchic_omop/config.yaml
Due: none

Fix docs typos
  docs/source/health_data.rst
Due: none

Capitalise SNSQL in docs
  docs/source/health_data.rst
Due: none

Capitalise subheadings in docs
  docs/source/health_data.rst
  docs/source/index.rst
  docs/source/introduction.rst
Due: none

Add SQLGroupByProvider and NullProvider, plus other changes
  CONTRIBUTING.md
  docs/source/health_data.rst
  examples/cchic_omop/config.yaml
  examples/cchic_omop/row_generators.py
  examples/cchic_omop/story_generators.py
  poetry.lock
  pyproject.toml
  sqlsynthgen/make.py
  sqlsynthgen/providers.py
  tests/examples/example_config.yaml
  tests/examples/expected_ssg.py
  tests/examples/row_generators.py
Due: black, isort, pylint, pydocstyle, mypy

Fix docstring code-blocks
  sqlsynthgen/providers.py
Due: black, isort, pylint, pydocstyle, mypy

Upgrade to PyYAML 6
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Due: none

Speed csv_to_database.py up a lot
  tests/examples/airbnb/csv_to_database.py
Due: pylint

Substantial update to the airbnb intro tutorial and related files
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/introduction.rst
  docs/source/quickstart.rst
  tests/examples/airbnb/airbnb_generators.py
  tests/examples/airbnb/complete_config.yaml
  tests/examples/airbnb/csv_to_database.py
  tests/examples/airbnb/final_ssg_example.py
  tests/examples/airbnb/ssg_manual_edit.py
Due: pylint

Move tests/examples to examples. Add READMEs to all examples.
  .pre-commit-config.yaml
  docs/source/introduction.rst
  docs/source/loan_data.rst
  examples/README.md
  examples/airbnb/README.md
  examples/airbnb/airbnb_generators.py
  examples/airbnb/complete_config.yaml
  examples/airbnb/csv_to_database.py
  examples/airbnb/final_ssg_example.py
  examples/airbnb/ssg_manual_edit.py
  examples/cchic_omop/README.md
  examples/loans/README.md
  examples/loans/config1.yaml
  examples/loans/config2.yaml
  examples/loans/config3.yaml
  examples/loans/my_row_generators.py
Due: black, isort, pylint, pydocstyle, mypy

Fix test_rst issue
  tests/test_rst.py
Due: black, isort, pylint, mypy

Fix typos in docs
  docs/source/configuration.rst
  docs/source/faq.rst
  docs/source/health_data.rst
  docs/source/introduction.rst
  docs/source/loan_data.rst
Due: none

Default to null_provider for unrecognised column types, with warning
  sqlsynthgen/make.py
  tests/examples/example_orm.py
  tests/examples/expected_ssg.py
  tests/examples/src.dump
  tests/test_functional.py
  tests/test_remove.py
Due: black, isort, pylint, pydocstyle, mypy

Log row counts for create-data
  sqlsynthgen/create.py
  sqlsynthgen/main.py
  tests/test_create.py
  tests/test_functional.py
Due: black, isort, pylint, pydocstyle, mypy

Make SSG provider methods static if they can be
  sqlsynthgen/providers.py
Due: black, isort, pylint, pydocstyle, mypy

Add check for unknown types that have a size
  sqlsynthgen/make.py
  tests/examples/example_orm.py
  tests/examples/expected_ssg.py
  tests/examples/src.dump
  tests/test_functional.py
Due: black, isort, pylint, pydocstyle, mypy

Bump version to 0.4.0
  pyproject.toml
Due: none

Plurals and quotes in debug output
  sqlsynthgen/create.py
  sqlsynthgen/main.py
  sqlsynthgen/remove.py
  tests/test_functional.py
  tests/test_main.py
Due: black, isort, pylint, pydocstyle, mypy

Swap Dict with Counter for returning RowCounts
  sqlsynthgen/create.py
  tests/test_create.py
  tests/test_main.py
Due: black, isort, pylint, pydocstyle, mypy

Bump version number
  pyproject.toml
Due: none
