Repository alan-turing-institute/sqlsynthgen: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, pydocstyle, mypy

black:
  name: Black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

pylint:
  name: Pylint
  entry: poetry run pylint
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --follow-imports=silent
  language: system

Fix destination schema creation
  sqlsynthgen/create.py
  tests/examples/dst.dump
  tests/test_functional.py
Due: black, isort, pylint, pydocstyle, mypy

Run make-tables so that there is an orm.py for create-tables
  tests/test_functional.py
Due: black, isort, pylint, mypy

Bump version number
  pyproject.toml
Due: none

Refactoring of interactive tests
  tests/test_interactive.py
  tests/utils.py
Due: black, isort, pylint, mypy

`remove-` commands tests replaced
  CONTRIBUTING.md
  examples/README.md
  tests/test_remove.py
Due: black, isort, pylint, mypy

Level 1 data
  orm_no_circular_fk.py
  ssg_level1.py
Due: black, isort, pylint, pydocstyle, mypy

Level 1 data
  .gitignore
  orm.py
  ssg.py
Due: black, isort, pylint, pydocstyle, mypy

Config and schema for mimic
  config.yaml
  orm.py
  ssg.py
Due: black, isort, pylint, pydocstyle, mypy

Added choice to person generator
  config.yaml
  ssg.py
Due: black, isort, pylint, pydocstyle, mypy

custom row generators
  .gitignore
  config.yaml
  person_generator.py
  ssg.py
Due: black, isort, pylint, pydocstyle, mypy

Random value generator for OMOP/MIMIC, exclude vocabulary tables
  condition_occurence_generator.py
  config.yaml
  docs/config_basic.yaml
  retrace_orm.py
  ssg-stats.py
  ssg_race.py
  ssg_test_choice.py
Due: black, isort, pylint, pydocstyle, mypy

Moved config_basic.yaml
  config_basic.yaml
Due: none

Story generator for person and death tables
  condition_occurence_generator.py
  config.yaml
  config_story.yaml
  person_row.py
  person_story.py
  sqlsynthgen/main.py
  src-stats-row.yaml
  ssg.py
  ssg_level1.py
  ssg_story.py
Due: black, isort, pylint, pydocstyle, mypy

Update issue templates
  .github/ISSUE_TEMPLATE/matryoshka-issue-task-template.md
Due: none

Update matryoshka-issue-task-template.md
  .github/ISSUE_TEMPLATE/matryoshka-issue-task-template.md
Due: none

Initial person generator
  config_story.yaml
  person_story.py
  ssg_story.py
Due: black, isort, pylint, pydocstyle, mypy

Populate blood pressure measurements
  person_story.py
Due: black, isort, pylint, pydocstyle, mypy

Update stats for visits
  config_story.yaml
  person_story.py
  ssg_story.py
Due: black, isort, pylint, pydocstyle, mypy

BP measurements from src stats
  config_story.yaml
  person_story.py
Due: black, isort, pylint, pydocstyle, mypy

adding the avg rate of bp measurements from data
  config_story.yaml
  person_story.py
Due: black, isort, pylint, pydocstyle, mypy

fixing small bug
  person_story.py
Due: black, isort, pylint, pydocstyle, mypy

adding time series generation utils.py #185
  sqlsynthgen/utils.py
Due: black, isort, pylint, pydocstyle, mypy

adding time series to blood pressure generator #185
  person_story.py
Due: black, isort, pylint, pydocstyle, mypy

adding relative change query for random walk time series #185
  config_story.yaml
Due: none

some abstraction to the code + random walk implementation
  person_story.py
Due: black, isort, pylint, pydocstyle, mypy

fixing systolic, diastolic bug
  person_story.py
  sqlsynthgen/utils.py
Due: black, isort, pylint, pydocstyle, mypy

Types for passing generators
  person_story.py
Due: black, isort, pylint, pydocstyle, mypy

removing random seed
  person_story.py
  sqlsynthgen/utils.py
Due: black, isort, pylint, pydocstyle, mypy

Add data structure for grouped measurements, pilot with temperature and blood pressure
  person_story.py
Due: black, isort, pylint, pydocstyle, mypy

Revert "Merge branch 'mimic-time-series' into mimic"
  config_story.yaml
  person_story.py
  sqlsynthgen/utils.py
Due: black, isort, pylint, pydocstyle, mypy

Modularise stories
  blood_pressure_story.py
  config_story.yaml
  measurement_story.py
  person_story.py
  sqlsynthgen/utils.py
  story_types.py
Due: black, isort, pylint, pydocstyle, mypy

Generic measurement story. Start Exposure story.
  exposure_story.py
  person_story.py
  sqlsynthgen/utils.py
Due: black, isort, pylint, pydocstyle, mypy

Blood pressure measurements with time series
  blood_pressure_story.py
  person_story.py
  sqlsynthgen/create.py
  sqlsynthgen/utils.py
  src-stats-bp.yaml
  ssg_story.py
Due: black, isort, pylint, pydocstyle, mypy

Modularise utils to utils_values and utils_timeseries
  blood_pressure_story.py
  person_story.py
  sqlsynthgen/utils.py
  sqlsynthgen/utils_timeseries.py
  sqlsynthgen/utils_values.py
Due: black, isort, pylint, pydocstyle, mypy

Black person_story and utils
  blood_pressure_story.py
  person_story.py
  sqlsynthgen/utils_timeseries.py
  sqlsynthgen/utils_values.py
Due: black, isort, pylint, pydocstyle, mypy

Path conditions:
  black: any of: \.py$, but not: (?x)( tests/examples| tests/workspace )
  isort: any of: \.py$, but not: (?x)( tests/examples| tests/workspace )
  pylint: any of: \.py$
  pydocstyle: any of: \.py$, but not: (?x)( docs/| tests/ )
  mypy: any of: \.py$, but not: (?x)( tests/examples| tests/workspace )
