Repository alan-turing-institute/sqlsynthgen: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, pydocstyle, mypy

black:
  name: Black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

pylint:
  name: Pylint
  entry: poetry run pylint
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --follow-imports=silent
  language: system

Quote pip install steps for pyyaml workaround
  .github/workflows/pre-commit.yml
  .github/workflows/tests.yml
  .readthedocs.yaml
  CONTRIBUTING.md
  docs/source/installation.rst
Due: none

I moved the precommit to dev dependencies
  pyproject.toml
Due: none

Bump version to 0.3.1
  pyproject.toml
Due: none

Use asyncio, work in progress, pre-commit skipped
  sqlsynthgen/json_schemas/config_schema.json
  sqlsynthgen/make.py
  tests/examples/example_config.yaml
  tests/test_make.py
Due: black, isort, pylint, pydocstyle, mypy

Try different homepage and docs URLs
  pyproject.toml
Due: none

Improve test_make_src_stats
  docs/source/_static/config_schema.html
  tests/test_make.py
Due: black, isort, pylint, mypy

Fix pylint complaint
  sqlsynthgen/make.py
Due: black, isort, pylint, pydocstyle, mypy

Typos
  CONTRIBUTING.md
  README.md
Due: none

Add python, pypi, pre-commit, black and mypy badges
  README.md
Due: none

Support Postgres UUID columns
  sqlsynthgen/make.py
  tests/examples/src.dump
  tests/test_make.py
Due: black, isort, pylint, pydocstyle, mypy

Error if psql...src.dump fails
  .github/workflows/tests.yml
Due: none

Two-stage src-stats
  docs/source/_static/config_schema.html
  poetry.lock
  pyproject.toml
  sqlsynthgen/json_schemas/config_schema.json
  sqlsynthgen/make.py
  tests/examples/example_config.yaml
  tests/test_make.py
Due: black, isort, pylint, pydocstyle, mypy

Change pre-commit extras
  poetry.lock
  pyproject.toml
Due: none

Update Airbnb tutorial to two-stage src-stats
  docs/source/tutorials/airbnb.rst
  tests/examples/airbnb/complete_config.yaml
Due: none

Add line breaks to config queries
  tests/examples/example_config.yaml
Due: none

Use outer engine in query closure
  sqlsynthgen/make.py
Due: black, isort, pylint, pydocstyle, mypy

Add --verbose option
  sqlsynthgen/main.py
  tests/test_functional.py
  tests/test_main.py
Due: black, isort, pylint, pydocstyle, mypy

Fixes to make-stats, WIP
  sqlsynthgen/make.py
Due: black, isort, pylint, pydocstyle, mypy

Warn if src-stats query returns nothing
  sqlsynthgen/make.py
  tests/test_make.py
Due: black, isort, pylint, pydocstyle, mypy

Make src-stats return dicts. Docs still need updating.
  sqlsynthgen/make.py
  tests/examples/example_config.yaml
  tests/examples/expected_ssg.py
  tests/examples/row_generators.py
  tests/examples/story_generators.py
  tests/test_make.py
Due: black, isort, pylint, pydocstyle, mypy

Fix FAQ entry on MariaDB support
  docs/source/faq.rst
Due: none

Only str() header once
  sqlsynthgen/make.py
Due: black, isort, pylint, pydocstyle, mypy

Use an 'unsafe' loader to match the unsafe dumper
  sqlsynthgen/base.py
Due: black, isort, pylint, pydocstyle, mypy

Expand on loans tutorial
  docs/source/tutorials/loan_applications.rst
  tests/examples/loans/config1.yaml
  tests/examples/loans/config2.yaml
  tests/examples/loans/config3.yaml
Due: none

Remove oudated readthedocs config sections
  .readthedocs.yaml
Due: none

Finish loans example
  docs/source/tutorials/loan_applications.rst
  tests/examples/loans/config3.yaml
  tests/examples/loans/my_row_generators.py
Due: pylint

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add version command
  sqlsynthgen/main.py
  tests/test_functional.py
Due: black, isort, pylint, pydocstyle, mypy

Warn whenever an invalid config is loaded
  sqlsynthgen/main.py
  sqlsynthgen/utils.py
  tests/test_utils.py
Due: black, isort, pylint, pydocstyle, mypy

Path conditions:
  black: any of: \.py$, but not: (?x)( tests/examples| tests/workspace )
  isort: any of: \.py$, but not: (?x)( tests/examples| tests/workspace )
  pylint: any of: \.py$
  pydocstyle: any of: \.py$, but not: (?x)( docs/| tests/ )
  mypy: any of: \.py$, but not: (?x)( tests/examples| tests/workspace )
