Repository alan-turing-institute/sqlsynthgen: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, pydocstyle, mypy

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: docs/source/_static/
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/markdownlint/markdownlint
    # Note the "v"
    rev: v0.11.0
    hooks:
      - id: markdownlint
        args: [--style=mdl_style.rb]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      # Ensure that the config html pages are current
      - id: config_schema
        name: Config Schema Docs
        entry: >
          generate-schema-doc
          --config-file .jsfh.yaml
          sqlsynthgen/json_schemas/config_schema.json
          docs/source/_static/
        language: system
        pass_filenames: false
      - id: black
        name: Black
        entry: poetry run black
        language: system
        types: ['python']
        exclude: (?x)(
          tests/examples|
          tests/workspace
          )
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: ['python']
        exclude: (?x)(
          tests/examples|
          tests/workspace
          )
      - id: pylint
        name: Pylint
        entry: poetry run pylint
        language: system
        types: ['python']
      - id: pydocstyle
        name: pydocstyle
        entry: poetry run pydocstyle
        language: system
        types: ['python']
        exclude: (?x)(
          docs/|
          tests/
          )
      - id: mypy
        name: mypy
        entry: poetry run mypy --follow-imports=silent
        language: system
        exclude: (?x)(
          tests/examples|
          tests/workspace
          )
        types: ['python']

Replace .csv with .yaml in OMOP tutorial
  docs/source/tutorials.rst
Due: none

Using a new RST file for the AirBnb Tutorial
  docs/source/index.rst
  docs/source/tutorials/airbnb.rst
  docs/source/tutorials/omop-cdm.rst
Due: none

Using a new RST file for the AirBnb Tutorial
  docs/source/tutorials.rst
Due: none

[WIP] Finishing the vocabulary tables section
  docs/source/tutorials/airbnb.rst
  docs/source/tutorials/airbnb_db_diagram.png
  tests/examples/airbnb/1_ssg_manual_edit.py
  tests/examples/airbnb/csv_to_database.py
Due: pylint

[WIP] Finishing the custom row generators section
  docs/source/tutorials/airbnb.rst
Due: none

Fixing code snippet indentation
  docs/source/tutorials/airbnb.rst
Due: none

[WIP] The stats section, with histograms pending
  docs/source/tutorials/airbnb.rst
Due: none

Completed porting the tutorial from HackMD (co-authored by Iain)
  docs/source/tutorials/airbnb.rst
  docs/source/tutorials/real_data_histogram.png
  docs/source/tutorials/synthetic_data_histogram.png
  tests/examples/airbnb/airbnb_generators.py
Due: pylint

Fixing unit tests (co-authored with Iain)
  docs/source/tutorials/airbnb.rst
Due: none

Show help if called with no args
  sqlsynthgen/main.py
Due: black, isort, pylint, pydocstyle, mypy

Fix bug where we couldn't handle returned_defaults=None
  sqlsynthgen/create.py
  tests/examples/example_config.yaml
  tests/examples/expected_ssg.py
  tests/examples/story_generators.py
Due: black, isort, pylint, pydocstyle, mypy

Add functional test for remove-data
  sqlsynthgen/main.py
  sqlsynthgen/remove.py
  tests/test_functional.py
  tests/test_main.py
  tests/test_remove.py
Due: black, isort, pylint, pydocstyle, mypy

Add example ssg file for the remove command tests
  tests/examples/remove_ssg.py
Due: pylint

Fix unit tests
  sqlsynthgen/remove.py
  tests/test_remove.py
Due: black, isort, pylint, pydocstyle, mypy

Add remove-vocab function
  sqlsynthgen/remove.py
  tests/examples/example_orm.py
  tests/examples/remove_ssg.py
  tests/test_remove.py
Due: black, isort, pylint, pydocstyle, mypy

Add remove-vocab command
  sqlsynthgen/main.py
  tests/test_functional.py
  tests/test_main.py
Due: black, isort, pylint, pydocstyle, mypy

Finish remove-tables command
  sqlsynthgen/main.py
  sqlsynthgen/remove.py
  tests/test_functional.py
  tests/test_main.py
  tests/test_remove.py
Due: black, isort, pylint, pydocstyle, mypy

Shorten command descriptions to improve --help output
  sqlsynthgen/main.py
Due: black, isort, pylint, pydocstyle, mypy

Update the quickstart example help output
  docs/source/quickstart.rst
Due: none

Fix unit tests
  tests/test_make.py
Due: black, isort, pylint, mypy

Pass ints to randint
  sqlsynthgen/providers.py
Due: black, isort, pylint, pydocstyle, mypy

Add confirmation prompt to remove- commands
  sqlsynthgen/main.py
  tests/test_functional.py
  tests/test_main.py
Due: black, isort, pylint, pydocstyle, mypy

Truncate vocab tables in the correct order
  sqlsynthgen/remove.py
  tests/test_functional.py
Due: black, isort, pylint, pydocstyle, mypy

Addressing most of Markus suggestions
  docs/source/tutorials/airbnb.rst
Due: none

The generic instance is passed via parameters
  tests/examples/airbnb/airbnb_generators.py
Due: pylint

Refactoring the DP content
  docs/source/tutorials/airbnb.rst
Due: none

Minor refactoring in main.py and utils.py
  sqlsynthgen/main.py
  sqlsynthgen/utils.py
  tests/test_main.py
Due: black, isort, pylint, pydocstyle, mypy

Use a parametrized query for set_search_path
  sqlsynthgen/utils.py
Due: black, isort, pylint, pydocstyle, mypy

More error checking in base.py
  sqlsynthgen/base.py
Due: black, isort, pylint, pydocstyle, mypy

Minor refactoring and a docstring in make.py
  sqlsynthgen/make.py
Due: black, isort, pylint, pydocstyle, mypy

Latest Markus' suggestions
  docs/source/tutorials/airbnb.rst
Due: none

Fix a test
  tests/test_functional.py
Due: black, isort, pylint, mypy

Make generators persist over the session
  sqlsynthgen/create.py
  sqlsynthgen/make.py
  sqlsynthgen/templates/ssg.py.j2
  tests/examples/expected_ssg.py
  tests/test_create.py
Due: black, isort, pylint, pydocstyle, mypy

Progress towards enforcing unique constraints
  sqlsynthgen/make.py
  sqlsynthgen/templates/ssg.py.j2
  sqlsynthgen/unique_generator.py
  tests/examples/example_orm.py
  tests/examples/expected_ssg.py
Due: black, isort, pylint, pydocstyle, mypy

More work on unique constraints
  sqlsynthgen/make.py
  sqlsynthgen/unique_generator.py
  tests/examples/example_config.yaml
  tests/examples/expected_ssg.py
  tests/examples/row_generators.py
  tests/test_functional.py
Due: black, isort, pylint, pydocstyle, mypy

Add unique_constraint_test to src.dump
  tests/examples/src.dump
Due: none

Dealing with unique constraints done.
  sqlsynthgen/unique_generator.py
  tests/examples/unique_generator.dump
  tests/test_functional.py
  tests/test_unique_generator.py
  tests/utils.py
Due: black, isort, pylint, pydocstyle, mypy

Fix a bug in unique generator stuff, refactor tests
  sqlsynthgen/make.py
  tests/examples/example_config.yaml
  tests/examples/row_generators.py
  tests/examples/src.dump
  tests/test_functional.py
  tests/test_unique_generator.py
Due: black, isort, pylint, pydocstyle, mypy

Respond to review feedback
  docs/source/_static/config_schema.html
  sqlsynthgen/json_schemas/config_schema.json
  sqlsynthgen/make.py
  sqlsynthgen/templates/ssg.py.j2
  tests/examples/example_config.yaml
  tests/examples/expected_ssg.py
  tests/test_unique_generator.py
Due: black, isort, pylint, pydocstyle, mypy

Respond to more review feedback
  sqlsynthgen/make.py
  sqlsynthgen/unique_generator.py
  tests/examples/expected_ssg.py
  tests/test_unique_generator.py
Due: black, isort, pylint, pydocstyle, mypy
