Repository alan-turing-institute/sqlsynthgen: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, pydocstyle, mypy

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: docs/source/_static/
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/markdownlint/markdownlint
    # Note the "v"
    rev: v0.11.0
    hooks:
      - id: markdownlint
        args: [--style=mdl_style.rb]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      # Ensure that the config html pages are current
      - id: config_schema
        name: Config Schema Docs
        entry: >
          generate-schema-doc
          --config-file .jsfh.yaml
          sqlsynthgen/json_schemas/config_schema.json
          docs/source/_static/
        language: system
        pass_filenames: false
      - id: black
        name: Black
        entry: poetry run black
        language: system
        types: ['python']
        exclude: (?x)(
          tests/examples|
          tests/workspace
          )
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: ['python']
        exclude: (?x)(
          tests/examples|
          tests/workspace
          )
      - id: pylint
        name: Pylint
        entry: poetry run pylint
        language: system
        types: ['python']
      - id: pydocstyle
        name: pydocstyle
        entry: poetry run pydocstyle
        language: system
        types: ['python']
        exclude: (?x)(
          docs/|
          tests/
          )
      - id: mypy
        name: mypy
        entry: poetry run mypy --follow-imports=silent
        language: system
        exclude: (?x)(
          tests/examples|
          tests/workspace
          )
        types: ['python']

Updates as per the PR suggestions.
  docs/source/tutorials/airbnb.rst
  docs/source/tutorials/loan_applications.rst
  tests/test_rst.py
Due: black, isort, pylint, mypy

Improve CLI command summaries
  sqlsynthgen/main.py
Due: black, isort, pylint, pydocstyle, mypy

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Expand on loans tutorial
  docs/source/tutorials/loan_applications.rst
  tests/examples/loans/config1.yaml
  tests/examples/loans/config2.yaml
  tests/examples/loans/config3.yaml
Due: none

Remove oudated readthedocs config sections
  .readthedocs.yaml
Due: none

Finish loans example
  docs/source/tutorials/loan_applications.rst
  tests/examples/loans/config3.yaml
  tests/examples/loans/my_row_generators.py
Due: pylint

Use an 'unsafe' loader to match the unsafe dumper
  sqlsynthgen/base.py
Due: black, isort, pylint, pydocstyle, mypy

Add SNS metadata spec and update some of ours.
  docs/source/_static/config_schema.html
  sqlsynthgen/json_schemas/config_schema.json
  tests/examples/example_config.yaml
Due: none

WIP
  docs/source/configuration.rst
Due: none

Fix tests
  docs/source/configuration.rst
  tests/examples/example_config.yaml
Due: none

WIP config descriptions
  docs/source/_static/config_schema.html
  sqlsynthgen/json_schemas/config_schema.json
Due: none

Add version command
  sqlsynthgen/main.py
  tests/test_functional.py
Due: black, isort, pylint, pydocstyle, mypy

Rename and re-type read_yaml_file
  sqlsynthgen/main.py
  sqlsynthgen/utils.py
  tests/test_utils.py
Due: black, isort, pylint, pydocstyle, mypy

Use sqlacodegen 3.0.0rc3
  poetry.lock
  pyproject.toml
  sqlsynthgen/utils.py
Due: black, isort, pylint, pydocstyle, mypy

Upgrading to SQLAlchemy 2. Relies on a local version of sqlacodegen
  poetry.lock
  pyproject.toml
  sqlsynthgen/base.py
  sqlsynthgen/create.py
  sqlsynthgen/remove.py
  sqlsynthgen/utils.py
  tests/examples/story_generators.py
  tests/test_base.py
  tests/test_utils.py
Due: black, isort, pylint, pydocstyle, mypy

Upgrade to mypy 1.5. Fix minor SQLA 2 issues.
  poetry.lock
  pyproject.toml
  sqlsynthgen/make.py
  sqlsynthgen/providers.py
Due: black, isort, pylint, pydocstyle, mypy

Silence some mypy warnings
  mypy.ini
  sqlsynthgen/utils.py
  tests/test_remove.py
  tests/test_settings.py
  tests/utils.py
Due: black, isort, pylint, pydocstyle, mypy

WIP
  sqlsynthgen/utils.py
Due: black, isort, pylint, pydocstyle, mypy

Add more type hints, and changes that cascaded from that
  sqlsynthgen/base.py
  sqlsynthgen/create.py
  sqlsynthgen/main.py
  sqlsynthgen/make.py
  sqlsynthgen/providers.py
  sqlsynthgen/remove.py
  sqlsynthgen/templates/ssg.py.j2
  sqlsynthgen/unique_generator.py
  sqlsynthgen/utils.py
  tests/examples/expected_ssg.py
  tests/test_create.py
Due: black, isort, pylint, pydocstyle, mypy

Print short validation message
  sqlsynthgen/utils.py
  tests/test_utils.py
Due: black, isort, pylint, pydocstyle, mypy

Add remaining config descriptions
  docs/source/_static/config_schema.html
  sqlsynthgen/json_schemas/config_schema.json
Due: none

Warn whenever an invalid config is loaded
  sqlsynthgen/main.py
  sqlsynthgen/utils.py
  tests/test_utils.py
Due: black, isort, pylint, pydocstyle, mypy

Handle server default column values when inserting data
  sqlsynthgen/create.py
  tests/test_create.py
Due: black, isort, pylint, pydocstyle, mypy

Fix unit tests
  tests/test_create.py
Due: black, isort, pylint, mypy

Run `poetry lock` to invalidate GH actions cache
  poetry.lock
Due: none

Add poetry.lock hash to the pre-commit cache key
  .github/workflows/pre-commit.yml
Due: none

Add option to ignore tables, rework example_orm.py. WIP.
  docs/source/_static/config_schema.html
  sqlsynthgen/json_schemas/config_schema.json
  sqlsynthgen/main.py
  sqlsynthgen/make.py
  tests/examples/example_config.yaml
  tests/examples/example_orm.py
  tests/examples/expected_ssg.py
  tests/examples/remove_ssg.py
  tests/examples/src.dump
  tests/test_functional.py
  tests/test_main.py
  tests/test_make.py
  tests/test_remove.py
Due: black, isort, pylint, pydocstyle, mypy

Fix issues in the previous merge
  sqlsynthgen/main.py
  sqlsynthgen/make.py
  tests/examples/example_orm.py
  tests/test_main.py
Due: black, isort, pylint, pydocstyle, mypy

Disable poetry caching in GH actions
  .github/workflows/pre-commit.yml
  .github/workflows/tests.yml
Due: none

Remove as many # type: ignore statements as possible
  sqlsynthgen/create.py
  sqlsynthgen/make.py
  tests/test_create.py
Due: black, isort, pylint, pydocstyle, mypy

Change List[] to list[] and Dict[] to dict[]
  sqlsynthgen/create.py
  sqlsynthgen/make.py
  tests/test_main.py
  tests/test_make.py
Due: black, isort, pylint, pydocstyle, mypy

Type function params with Sequence and Mapping
  sqlsynthgen/create.py
  sqlsynthgen/make.py
  sqlsynthgen/utils.py
Due: black, isort, pylint, pydocstyle, mypy

0.3.2 -> 0.3.3
  pyproject.toml
Due: none
